html{
  font-size: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--gray-dark-900, #F9FAFB);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  margin: 0;
}

.section{
  padding: 6.4rem 1.6rem;

  color: var(--gray-dark-900, #F9FAFB);

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.dm-shade-1{
  background-color: #030712;
}

.dm-shade-2{
  background: var(--gray-dark-50, #111827);
}

.nav-bar {
  height: 6.8rem;

  padding: 1.6rem;
  margin: 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.logo{
  color: var(--gray-dark-900, #F9FAFB);
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
  letter-spacing: -0.6px; 
}

.menu-button{
  border: none;
  background-color: #030712;

  width: 3rem;
  height: 3rem;

  cursor:pointer;
}

.menu-button img{
  height: 3rem;
  width: 3rem;

  color: #F9FAFB;
}

.hide {
  display: none;
}

.menu {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-between;

  padding: 1.6rem;
  margin: 0px;
  height: auto;

  font-size: 1.6rem;

  border-top: 1px #1F2937 solid;
  border-bottom: 1px #1F2937 solid;
}

.links{
  margin-bottom: 1rem  ;
}

.download{
  padding: 1.6rem;
  border-bottom: 1px #1F2937 solid;
}

.download button{
  border: none;
  border-radius: 2rem;

  margin: 0px auto 0px auto;
  padding: .5rem 0px;

  color: #111827;
  background-color: #F9FAFB;

  width:  100%;
}


.intro p{
  color: var(--gray-dark-600, #D1D5DB);

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}

.headshot{
  position: relative;
  margin: 0px 0px 4.8rem 0px;
  z-index: 1;
}

.headshot img{
  border: .5rem #030712 solid;

  display: block;
  margin: 0px auto;
  width: 60%;
  height: auto;

  
}

.photo-back {
  position: absolute;
  top: 1.5rem;
  left: 5.2rem;

  width: 68.5%;
  height: 20rem;
  background-color: #374151;

  z-index: -1;
}

.location{
  margin: 4.8rem 0px;
  display: flex;

  height: 5.4rem;
  flex-direction: column;
  justify-content: space-between;

}

.box {
  display: flex;
  align-items: center;
}

.box img{
  width: 2rem;
  height: 2rem;

  padding-right: 1rem;
  margin: 0;
}

.green-dot{
  width: 8px;
  height: 8px;
  flex-shrink: 0;

  border-radius: 20px;
  background: var(--emerald-500, #10B981);

  margin: 0px 1rem 0px .5rem;
}

.socails{
  width: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socails img{
  cursor:pointer;
}

.small {
  width: 2.5rem;
  height: 2.5rem;
}

.medium {
  width: 4.1rem;
  height: 4.1rem;
}

.about-me h3{
  align-self: stretch;

  color: var(--gray-dark-900, #F9FAFB);

  font-family: Inter;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.2rem;
  letter-spacing: -.048rem;
}

.bio p{
  align-self: stretch;

  color: var(--gray-dark-600, #D1D5DB);

  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;

  margin-bottom: 1.6rem;
}


.section-title{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 100;

  width: 5rem;
  height: 1rem;

  padding: .4rem 2.0rem;
  margin: 0px auto 2.4rem auto;

  border-radius: 12px;
  background: var(--gray-dark-200, #374151);
}

.fullbody {
  display: block;

  width: 18rem;
  height: 32rem;

  margin: 0px auto 6.8rem auto;
}
 

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }